/* NotesPage.css */

.custom-time-picker .react-time-picker__clock {
    overflow: auto; /* Make the clock scrollable */
    max-height: 200px; /* Adjust the height as needed */
  }
  
  .custom-time-picker .react-time-picker__wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
  }
  